/*ie9 +*/
/*BOF Global Setting ---------------------*/
html,body{padding:0!important;margin:0!important;*zoom:1;}
html{height:100%;width:100%;font-size:63% !important;background:url(images/preload.gif) no-repeat center 200px;}
body{background:white;padding:0;margin:0;font-size:12px;font-family:'Microsoft YaHei','SimHei','SimSun',Arial,Helvetica,sans-serif;}

*{padding:0;margin:0;font-family:'Microsoft YaHei','SimHei','SimSun',Arial,Helvetica,sans-serif;}

h1{font-size:2.4em;font-weight:600;}
h2{font-size:1.8em;font-weight:600;}
h3{font-size:1.6em;font-weight:600;}
h4{font-size:1.4em;font-weight:600;}

table{border-collapse:collapse;border-spacing:0;}th,td{font-size:12px;}
b,s,u,i,em{*zoom:1;font-weight:normal;font-style:normal;text-decoration:none;display:inline-block;}

a{cursor:pointer;text-decoration: none;}
a:link{}
a:hover{}
a:visited{}
a:active{}
a:focus{outline: none;}
a *{cursor:pointer;text-decoration:none;}

iframe{border:0;width:100%;}p{margin:1.1em 0;}img{border:0;}script{display:none !important;}
/*EOF Global Setting =================*/

/*BOF icons setting -----------------*/
.w_xxl{width:80em!important}
.w_xl{width:58em!important}
.w_l{width:42em!important;}
.w_m{width:30em;}
.w_xm{width:25em;}
.w_xm{width:20em;}
.w_s{width:18em!important;}
.w_xs{width:10em!important;}
.w_xxs{width:4em!important;}

.i{display:inline-block;vertical-align:top;text-align:center;background-repeat:no-repeat;background-position:center center;}
/*  form ------------------------*/
form{padding:0 !important;margin:0 !important;}
input[type=text],input[type=password]{padding:0!important;outline:none !important;margin:0!important;}
input[type=button],input[type=submit],input[type=reset],input[type=cancel],button{padding:0!important;cursor:pointer !important;margin:0!important;}
textarea{padding:0!important;margin:0!important;outline:none !important;}

.e{display:inline-block !important;vertical-align:top;padding:0 !important;}
.e input,.e button{height:30px;border:0;color:inherit;cursor:inherit;background:none;position:relative;*zoom:1;vertical-align:top;}
.e input,.e button,.e select,.e textarea{outline:none !important;}

.e_txt{position:relative;min-height:30px;padding:0px 8px!important;border:1px solid #999999;background:white;white-space:nowrap;}
.e_txt:hover{}
.e_txt_readonly{color:gray;}
.e_txt input{display:inline-block;cursor:default;background:none !important;border:0 !important;margin:0 !important;}
.e_txt .i{height:30px;line-height:30px;text-algin:center;color:#cccccc;}
.e_txt .b{display:block;position:absolute!important;right:-30px;top:0;z-index:0;color:#cccccc;}

.e_tta{min-height:30px;padding:4px 8px!important;background:white;height:auto !important;border:1px solid #999999;min-width:100px;}
.e_tta_fcs{border:1px solid red;}
.e_tta textarea{width:100%;display:block;cursor:default;border:0 !important;min-height:60px;background:none;}

.e_btn{padding:0px 8px!important;overflow:hidden;background:white;border:1px solid #999999;
  background: -moz-linear-gradient(top,#ffffff, #fefefe, #f7f7f7);
  background: -webkit-linear-gradient(top,#ffffff,#fefefe,#f7f7f7);
  background: -o-linear-gradient(top,#ffffff, #fefefe, #f7f7f7);
}
.e_btn:hover{color:black;z-index:10000;background-position:left -88px;}
.e_btn:active{background-position:left -44px;color:#666666;text-shadow:1px 1px 1px white;}
.e_btn input{display:inline-block;text-align:center;background:none !important;border:0 !important;margin:0 !important;padding:0 1em !important;cursor:pointer;}
.e_btn button{display:inline-block;text-align:center;background:none !important;border:0 !important;margin:0 !important;padding:0 1em !important;cursor:pointer;}

label.e_chk{color:#444444;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none; }
label.e_chk>*{display:inline-block;vertical-align:top;line-height:20px;}
label.e_chk>i{font-family:is!important;font-size:20px;margin-right:2px;}
label.e_chk>input{display:none;}
label.e_chk>input[type=checkbox]+i:before{content:"\e25d";}
label.e_chk>input[type=checkbox]:checked+i:before{content:"\e25c";}
label.e_chk>input[type=radio]+i:before{content:"\e25e";}
label.e_chk>input[type=radio]:checked+i:before{content:"\e25f";}

.p_rdos_h{display:inline-block;vertical-align:top;border:1px solid #999999;border-radius:5px;}
.p_rdos_h *{float:left;}
.p_rdos_h:after{content:'';display:block;float:none;clear:both;}
.p_rdos_h .e_chk{border-radius:0;}
.p_rdos_h .e_chk b{background:#e4e4e4;min-width:44px;height:30px;text-align:center;line-height:30px;padding:0 10px;color:#444444;}
.p_rdos_h .e_chk i{display:none;}
.p_rdos_h .e_chk{border-left:1px solid #999999;}
.p_rdos_h .e_chk:first-child{border:0;}
.p_rdos_h .e_chk:first-child b{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.p_rdos_h .e_chk:last-child b{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.p_rdos_h .e_chk input:checked+i+b{background:white;}

select{height:30px;line-height:30px;border:1px solid #999999;border-radius:5px;}
.e_slo{display:inline-block;vertical-align:top;border:1px solid #aaaaaa;height:30px;overflow:hidden;min-width:88px;}
.e_slo select{display:none;}
.e_slo>.t{display:block;vertical-align:top;padding:0 10px;line-height:30px;}
.e_slo>.t>*{white-space:nowrap;}
.e_slo>.t:after{font-family:'is' !important;content:'\e20b';font-size:16px;height:30px;width:16px;line-height:30px;display:block;float:right;}
.e_slo>.t input{border:0!important;background:none!important;cursor:default!important;}
.e_slo>.os{visibility:hidden;display:block;padding:0!important;margin:0!important;min-width:100%;left:0;top:100%;z-index:0;background:white;border:1px solid #aaaaaa;border-radius:5px;}
.e_slo>.os .o{display:block;padding:10px;color:#444444;white-space:nowrap}
.e_slo>.os .o:hover{background:#e1e1e1;color:#000000;}
.e_slo>.os .o_dis{background:#f1f1f1 !important;color:#aaaaaa !important;}
.e_slo>.os .o_sld{background:#aaaaaa !important;color:#ffffff !important;}
.e_slo_on{position:relative;overflow:visible;}
.e_slo_on>.t:after{font-family:'is' !important;content:'\e20a';}
.e_slo_on>.os{visibility:visible;position:absolute;}
.e_slm{display:inline-block;vertical-align:top;border:1px solid #aaaaaa;min-width:88px;}
.e_slm select{display:none;}
.e_slm>.t{display:inline-block;vertical-align:top;vertical-align:top;width:auto!important;padding:0 10px;line-height:30px;}
.e_slm>.t>*{white-space:nowrap;}
.e_slm>.t input{border:0!important;background:none!important;cursor:default!important;}
.e_slm>.t b{display:inline-block;vertical-align:top;background:#aaaaaa;color:white;border-radius:25px;padding:0 14px;}
.e_slm>.os{display:block;padding:0!important;margin:0!important;min-width:100%;left:0;top:100%;z-index:0;background:white;border-radius:5px;}
.e_slm>.os .o{display:block;padding:10px;color:#444444;white-space:nowrap}
.e_slm>.os .o:hover{background:#e1e1e1;color:#000000;}
.e_slm>.os .o_dis{background:#f1f1f1 !important;color:#aaaaaa !important;}
.e_slm>.os .o_sld{background:#aaaaaa !important;color:#ffffff !important;}
.e_slm_on{position:relative;overflow:visible;}
.e_slm_on>.os{visibility:visible;position:absolute;}
/*  form ------------------------*/

/*BOF Layouts Setting -----------------*/

.br{display:block !important;height:0;line-height:0;font-size:0;clear:both;overflow:hidden;letter-spacing:-4px;*zoom:1;*margin-top:-1px;}
.hr,hr{display:block;width:100%;height:0px;line-height:0;letter-spacing:0;font-size:0;clear:both;border:0;border-bottom:1px solid #e6e6e6;*margin-top:-1px;}

.sr{display:block;float:right !important;}
.sl{display:block;float:left !important;text-align:left;}
.sc{display:block !important;text-align:left;}


.st{display:inline-block;vertical-align:top;background:gray;padding:0.2em 0.4em;margin:0.2em;color:white;-moz-border-radius:0.5em;-khtml-border-radius:0.5em;-webkit-border-radius: 0.5em;border-radius:0.5em;}
.st_r{background:red;}
.st_r1{background:#ff7900;}
.st_r2{background:#ff9e00;}
.st_r3{background:#ffc800;}

.st_g{background:#0eac00;}
.st_g1{background:#69c100;}
.st_g2{background:#c1e400;color:black;}

.st_b{background:#0011a8;}
.st_b1{background:#004bb0;}
.st_b2{background:#007ebb;}

.st_p{background:#4500a3;}
.st_p1{background:#b100b4;}
.st_p2{background:#d40065;}

.l_jtf{text-align:justify;text-justify:distribute;letter-spacing:-4px;}
.l_jtf > * {letter-spacing:0px;}
.l_jtf > .ji,.l_jtf > .li{line-height:160%;display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.l_jtf > .jr,.l_jtf > .br{display:inline-block !important;*display:inline;*zoom:1;letter-spacing:0;vertical-align:top;width:100%;height:0;line-height:0;font-size:0;overflow:hidden;}

.da{}
.da .ah{}
.da .ah .at{float:left;}
.da .ah .aho{float:right;}

.dc{}
.dc .ch{}
.dc .ch .tts{float:left;}
.dc .ch .ops{float:right;}

.dl_v{}
.dl_v .lh{display:block;}
.dl_v .lt{display:block;}
.dl_v .li{display:block;}
.dl_v .it{}

.dl_h{}
.dl_h .lt{display:block;margin-bottom:0.4em;}
.dl_h .lh{display:block;}
.dl_h .li{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.dl_h .ld{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.dl_h .it{display:block;margin-bottom:0.1em;font-size:1.4em;font-weight:600;line-height:36px;}

.c_tts{text-align:left;}
.c_tts .tt{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}

.c_ops{text-align:right;}
.c_ops .b{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.c_ops a{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}

.c_tbs{display:block;}
.c_tbs .pr{vertical-align:top;*zoom:1;display:inline-block;padding:0 0.7em;}
.c_tbs .tb{letter-spacing:0;height:2.6em;line-height:2.6em;cursor:pointer;}
.c_tbs .tb_on{cursor:default;background:white;}

.c_tbws{}
.c_tbws .tbw{display:none;}
.c_tbws .tbw_on{display:block;}

.c_dl{width:100%;position:relative;}
.c_dl .ld{display:inline-block !important;*display:inline;*zoom:1;vertical-align:top;}
.c_dl .lg{border:0 !important;height:100%;}
.c_dl .lg .ld{height:1px !important;height:100%;}
.c_dl .lg .ld b{position:absolute;height:100%;top:0;border-left:1px solid #999999;margin-left:-0.4em;}
.c_dl .li{white-space: nowrap !important;letter-spacing:-4px;border-bottom:1px solid #999999;position:relative;}
.c_dl .li .ld{padding:0.4em 0.4em;}
.c_dl .li  *{white-space: normal !important;letter-spacing: 0;}

.c_dl .lh{font-weight:normal;color:#999999;}
.c_dl .ld_0{border-left:0 !important;}
.c_dl .ld_f{border-left:0 !important;}

table.c_tbl th{text-align:left;}
table.c_tbl td{text-align:left;}
table.c_tbl{width:100%;}
table.c_tbl thead>tr>th,
table.c_tbl thead>tr>td,
table.c_tbl tbody>tr>th{border:0 !important;text-align:left;padding:0.4em 0.7em 0.4em 0.7em;}
table.c_tbl tbody>tr>td{border:0 !important;padding:0.2em 0.7em 0.2em 0.7em;}
table.c_tbl tbody>tr:nth-child(odd) >td{background:#fbfbfb;}
table.c_tbl tbody>tr:nth-child(even) >td{}
table.c_tbl tbody>tr.od >td{background:#fbfbfb;}
table.c_tbl tbody>tr:hover >td,
table.c_tbl tbody>tr:hover >th {background:#f3f3f3}

.b_tg{}
.b_st_on{position:relative;}
.b_st .a_st{position:absolute;top:100%;right:0;}

.a_st{display:none !important;}
.a_st_on{display:block !important;}

.jlmonitormask{background:url(images/_blank.gif);}

.jl_scroller{z-index:0;}
.jl_yscrollbar{right:0;top:0;z-index:1;height:100%;width:10px;overflow:hidden;background:#eeeeee;border-left:1px solid #dadada;}
.jl_yscrollbar .handle{width:100%;left:0;height:60px;background:#999999;cursor:default;}
.jl_xscrollbar{left:0;bottom:0;z-index:1;height:10px;width:80%;overflow:hidden;background:#eeeeee;border-top:1px solid #dadada;}
.jl_xscrollbar .handle{height:10px;background:#999999;cursor:default;}

.jl_slider{position:relative;}
.jl_slider .jl_sliderarea{left:0;top:0;z-index:0;width:100%;height:100%;padding:0 !important;margin:0 !important;}
.jl_slider .jl_sliderwrap{width:100%;height:100%;left:0;}
.jl_slider .sd{position:absolute;left:0;top:0;width:100%;height:100%;}

.jl_slider .jl_sldprev{position:absolute;left:0;top:0;z-index:1;height:100%;width:44px;filter:alpha(opacity=40);opacity:0.4;}
.jl_slider .jl_sldprev:hover{filter:alpha(opacity=80);opacity:0.8;}
.jl_slider .jl_sldprev s{position:absolute;left:0;top:0;z-index:0;width:100%;height:1px;line-height:0;font-size:0;top:50%;}
.jl_slider .jl_sldprev b{position:absolute;top:-22px;left:0;font-size:30px;color:gray;text-align:center;width:44px;height:44px;line-height:44px;}
.jl_slider .jl_sldprev_dis{filter:alpha(opacity=20)!important;opacity:0.2!important;cursor:default;}

.jl_slider .jl_sldnext{position:absolute;right:0;top:0;z-index:1;height:100%;width:44px;filter:alpha(opacity=40);opacity:0.4;}
.jl_slider .jl_sldnext:hover{filter:alpha(opacity=80);opacity:0.8;}
.jl_slider .jl_sldnext s{position:absolute;left:0;top:0;z-index:0;width:100%;height:1px;top:50%;line-height:0;font-size:0;}
.jl_slider .jl_sldnext b{position:absolute;top:-22px;right:0;font-size:30px;color:gray;text-align:center;width:44px;height:44px;line-height:44px;}
.jl_slider .jl_sldnext_dis{filter:alpha(opacity=20)!important;opacity:0.2!important;cursor:default;}

.jl_slider .jl_sldmenu{position:absolute;z-index:1;left:0;bottom:0.7em;width:100%;text-align:center;}
.jl_slider .jl_sldmenu .m{display:inline-block;vertical-align:top;width:1.6em;height:1.6em;line-height:1.6em;text-align:center;cursor:pointer;color:#eeeeee;margin:0 0.2em;overflow:hidden;}
.jl_slider .jl_sldmenu .m b{display:none;font-weight:bolder;font-family:arail;font-weight:bolder;}
.jl_slider .jl_sldmenu .m s{display:inline-block;vertical-align:top;font-size:28px;line-height:28px;font-family:arail!important;font-weight:bolder;margin-top:-7px;}
.jl_slider .jl_sldmenu .m_on{color:#999999;cursor:default;}

.jl_dslider{position:relative;z-index:0;min-width:200px;min-height:200px;*zoom:1;}
.jl_dslider .sd{position:absolute;width:100%;height:100%;padding:0 !important;margin:0 !important;border:0 !important;}

.jl_xslider{position:relative;z-index:0;min-width:200px;min-height:200px;*zoom:1;}
.jl_xslider .jl_sliderarea{z-index:0;margin:0 auto;width:100%;height:100%;padding:0 !important;}
.jl_xslider .jl_sliderwrap{width:100%;height:100%;}
.jl_xslider .sd{position:absolute;width:100px;height:100px;padding:0 !important;margin:0 !important;border:0 !important;}

.jl_yslider{position:relative;z-index:0;min-width:200px;min-height:200px;*zoom:1;}
.jl_yslider .jl_sliderarea{left:0;top:0;z-index:0;width:100%;height:100%;padding:0 !important;margin:0 !important;}
.jl_yslider .jl_sliderwrap{width:100%;height:100%;left:0;}
.jl_yslider .sd{position:absolute;width:100%;height:100%;padding:0 !important;margin:0 !important;border:0 !important;}

.jl_yslider .jl_sldprev{position:absolute;left:0;top:0;z-index:1;width:100%;height:10px;}
.jl_yslider .jl_sldnext{position:absolute;left:0;bottom:0;z-index:1;width:100%;height:10px;}

.jl_popup{position:fixed !important;z-index:100001;width:100%;height:1px;left:0;top:0;height:0;margin:0 auto;box-shadow:0px 0.2em 1.2em -0.3em #333333;}
.jl_popup_flw{position:absolute !important;}
.jl_popup_h{position:relative;z-index:1;height:44px;background:white;border-bottom:1px solid #eeeeee;color:#222222;}
.jl_popup_title{font-weight:normal;line-height:44px;padding-left:11px;font-size:21px;}
.jl_popup_b{position:relative;top:0;z-index:0;overflow:auto;background:white;}
.jl_popup_b iframe{Position:absolute;left:0;top:0;z-index:0;width:100%;height:100%;}
.jl_popup_f{position:relative;}
.jl_popup_f input{padding:0 1.1em !important}
.jl_popup_x{position:absolute!important;z-index:3;right:5px;top:0px;width:40px;height:40px;line-height:40px;font-size:2.6em;text-align:center;}
.jl_popup .hd{display:block;}

.jl_popup_iframe .jl_popup_b{overflow:hidden;}
.jl_popup_image .jl_popup_w{padding:10px;background:white;}
.jl_popup_image .jl_popup_b{overflow:hidden;background:white;}
.jl_popup_image .jl_popup_x{background:white;}

.jl_mask{position:fixed;z-index:100000;top:0;left:0;width:100%;height:100%;background:black;filter: alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}

.jl_imgviewer{position:absolute;width:100%;height:100%;overflow:hidden;}
.jl_imgviewer img{position:absolute;left:0;top:0;z-index:0;}
.jl_imgviewerfit{position:absolute;left:0;top:0;z-index:1;}

.jl_popup_bg .bgt{background:gray;}
.jl_popup_bg .bgm .c{margin:0 0.7em !important;background:white;}
.jl_popup_bg .bgm .l,
.jl_popup_bg .bgm .r{width:0.7em !important;background:gray;}
.jl_popup_bg .bgb{background:gray;}

.jl_messages{position:fixed !important;right:0;bottom:0;}
.jl_messages .jl_message{position:relative !important;padding:1em;margin:1em;background:white;border:1px solid #bbbbbb;box-shadow:0px 1px 6px -2px #666666;border-radius:5px;}
.jl_messages .jl_message_w{position:static !important;}
.jl_message_x{position:absolute;z-index:3;right:0px;top:0px;width:40px;height:40px;font-size:2.1em;font-family:arial;text-align:center;}

.jl_tips{position:absolute;z-index:100001;width:100%;left:0;top:0;height:0;margin:0 auto;}
.jl_tips_w{position:absolute;top:0;margin:0 auto;}
.jl_tips_b{position:relative;z-index:1;overflow:auto;*overflow:hidden;}
.jl_tips_b .jl_tipc{display:block !important;}

.jl_tips_image .jl_tips_b{overflow:hidden;}
.jl_tipc{display:none !important;}
.jl_tips_bg{display:block;position:absolute;left:0;top:0;z-index:0;width:100%!important;height:100%!important;background:white;box-shadow: 0px 0px 6px -2px #333333;}
.jl_tips_p{position: absolute;display: block;width:0;height:0;font-size:0!important;line-height:0!important;border:0; }
.jl_tips_bl .jl_tips_p,
.jl_tips_br .jl_tips_p,
.jl_tips_bc .jl_tips_p{top:-16px;
border-left-width: 10px;border-right-width:10px; border-top-width: 10px;border-bottom-width: 10px;
border-style: solid;border-color:transparent  transparent black transparent;
}

.jl_tips_tl .jl_tips_p,
.jl_tips_tr .jl_tips_p,
.jl_tips_tc .jl_tips_p{bottom:-16px;
border-left-width: 10px;border-right-width:10px; border-top-width: 10px;border-bottom-width: 10px;
border-style: solid;border-color: black transparent transparent transparent;
}

.jl_poc{display:none !important;}
.jl_po{position:absolute;z-index:100001;width:100%;left:0;top:0;height:0;margin:0 auto;}
.jl_po_w{position:absolute;top:0;margin:0 auto;}
.jl_po_b{position:relative;z-index:1;overflow:hidden;}
.jl_po_b .jl_poc{display:block !important;}
.jl_po_bg{display:block;background:white;position:absolute;left:0;top:0;z-index:0;width:100%;height:100%;box-shadow:0px 1px 10px -2px #666666;border-radius:5px;}
.jl_po_p{display:block;position:absolute;z-index:0;width:100%;width:30px;height:14px;background-image:url(images/pt.svg);background-repeat:no-repeat;background-position:center 0;background-size: 100% auto;}
.jl_po_image .jl_po_b{overflow:hidden;}

.jl_po_bl .jl_po_p,.jl_po_br .jl_po_p,.jl_po_bc .jl_po_p{top:-14px;}
.jl_po_tl .jl_po_p,.jl_po_tr .jl_po_p,.jl_po_tc .jl_po_p{bottom:-14px;background-position:center -15px;}

.jl_pob{position:absolute;z-index:100001;width:100%;left:0;top:0;height:0;margin:0 auto;}
.jl_pob_w{position:absolute;top:0;margin:0 auto;}
.jl_pob_b{position:relative;z-index:1;overflow:hidden;}
.jl_pob_b .jl_poc{display:block !important;}
.jl_pob_bg{display:block;background:white;position:absolute;left:0;top:0;z-index:0;width:100%;height:100%;border-radius:5px;box-shadow:0px 1px 16px -2px #666666;}
.jl_pob_p{display:block;position:absolute;z-index:0;width:100%;width:30px;height:14px;background-image:url(images/pt.svg);background-repeat:no-repeat;background-position:center 0;background-size: 100% auto;}
.jl_pob_image .jl_pob_b{overflow:hidden;}

.jl_pob_bl .jl_pob_p,.jl_pob_br .jl_pob_p,.jl_pob_bc .jl_pob_p{top:-14px;}
.jl_pob_tl .jl_pob_p,.jl_pob_tr .jl_pob_p,.jl_pob_tc .jl_pob_p{bottom:-14px;background-position:center -15px;}

.jl_cldr{font-family:arial;font-size:12px;cursor:default;color:#444444;background:white;padding:4px;box-shadow: 1px 1px 5px -2px #666666;}
.jl_cldr *{*zoom:1;}
.jl_cldr_month{padding:10px 7px 17px 7px;}
.jl_cldr .ws{white-space:nowrap;letter-spacing:-4px;text-align:center;}
.jl_cldr .ws .w{display:inline-block;vertical-align:top;letter-spacing:0;width:14%;height:24px;}
.jl_cldr .ws .w b{display:block;margin-right:1px;margin-bottom:1px;border-bottom:2px solid #dddddd;color:#aaaaaa;padding-bottom:4px;}
.jl_cldr .ds{white-space:nowrap;letter-spacing:-4px;text-align:center;letter-spacing:-4px;}
.jl_cldr .ds .d{display:inline-block;vertical-align:top;letter-spacing:0;width:14%;}
.jl_cldr .ds .d b{display:block;height:24px;line-height:24px;font-family:arial !important;font-size:12px !important;}
.jl_cldr .ds .d_dis{color:#eeeeee;}
.jl_cldr .ds .d_dis b{background:none !important;}
.jl_cldr .ds .d_enb b{color:#00b9c1;font-weight:bold;}
.jl_cldr .ds .d_enb:hover{background:#b8f0f0;}
.jl_cldr .ds .d_enb:hover b{}
.jl_cldr .ds .d_tdy b{background:#d9f1f8;color:#00b9c1;}
.jl_cldr .ds .d_slt b{background:#fff9eb;color:#ff931f;}

.jl_cldr_h{text-align:right;position:relative;z-index:3;width:100%;height:40px;line-height:40px;}
.jl_cldr_h *{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}

.jl_cldr_h .b_next{position:relative;top:0px;font-family:arial !important;font-weight:bolder;font-size:16px;text-align:center;cursor:pointer;width:24px;height:40px;text-align:center;margin-right:5px;}
.jl_cldr_h .b_prev{position:relative;top:0px;font-family:arial !important;font-weight:bolder;font-size:16px;text-align:center;cursor:pointer;width:24px;height:40px;border-right:0;text-align:center;}
.jl_cldr_h .b_today{position:absolute;left:0px;top:0px;width:40px;height:40px;font-size:14px;font-weight:bolder;text-align:center;cursor:pointer;}

.jl_cldr_h .nv_year{margin-right:5px;}
.jl_cldr_h .nv_month{}
.jl_cldr_h .mt{height:40px;padding:0 11px;cursor:pointer;font-weight:bold;}
.jl_cldr_h .mt_on{color:#00b9c1;background:#f9fdfe;}
.jl_cldr_h .ms{display:block;position:absolute !important;width:100%;*width:258px;left:0;text-align:left;top:100%;background:#f9fdfe;height:180px;line-height:24px;border-bottom:1px solid #aadeee;letter-spacing:-4px;}
.jl_cldr_h .ms *{display:inline-block;vertical-align:top;text-align:center;letter-spacing:0px;}
.jl_cldr_h .ms .m{width:29%;color:#00b9c1;margin:2px;line-height:35px;font-weight:bolder;}
.jl_cldr_h .ms .m:hover{color:#00b9c1;background:#dbf6f8;}
.jl_cldr_h .ms .m_slt{color:#ff931f;background:#fff9f2;}
.jl_cldr_h .ms .msw{padding:7px 0;}

.jl_cldr_h .yt{height:40px;padding:0 11px;cursor:pointer;font-weight:bold;}
.jl_cldr_h .yt_on{color:#00b9c1;background:#f9fdfe;}
.jl_cldr_h .ys{display:block;position:absolute !important;width:100%;*width:258px;left:0;text-align:left;top:100%;overflow-x:hidden;background:#f9fdfe;height:180px;line-height:24px;border-bottom:1px solid #aadeee;letter-spacing:-4px;}
.jl_cldr_h .ys *{display:inline-block;vertical-align:top;text-align:center;letter-spacing:0px;}
.jl_cldr_h .ys .y{width:22%;color:#00b9c1;margin:3px 2px;line-height:28px;font-weight:bolder;}
.jl_cldr_h .ys .y:hover{color:#00b9c1;background:#dbf6f8;}
.jl_cldr_h .ys .y_slt{color:#ff931f;background:#fff9f2;}
.jl_cldr_h .ys .msw{padding:7px 0;text-align:center;}
.jl_cldr_h .ys .ysw{height:100%;text-align:left;}
.jl_cldr_h .ys .ysb{position:relative;padding:7px 16px 7px 7px;}

.jl_cldr .jl_yscrollbar{right:0px;top:0;height:100%;width:10px;overflow:hidden;background:#cdecf5;border-left:1px solid #00b9c1;}
.jl_cldr .jl_yscrollbar .handle{width:100%;left:0;height:60px;background:#00b9c1;cursor:default;}

.jl_timer{display:block;position:relative;background:white;color:#aaaaaa;width:100%;*height:90px;}
.jl_timer .tmh{display:block;height:30px;line-height:28px;position:relative;margin:0 16px;}
.jl_timer .tmh *{display:inline-block;vertical-align:top;}
.jl_timer .tmh .b{float:right;width:30px;height:30px;line-height:28px;font-weight:600;text-align:center;cursor:pointer;}
.jl_timer .tmh .b_new{right:0;font-size:16px;line-height:20px;}
.jl_timer .tmh .b_new:hover{background:gray;color:white;}
.jl_timer .tmh .b_rmv{right:0;}
.jl_timer .tmh .b_rmv:hover{background:#ed1c24;color:white;}
.jl_timer .tmh .b_sbm{right:26px;}
.jl_timer .tmh .b_sbm:hover{background:#00b756;color:white;}
.jl_timer .tmh .t{padding-right:11px;float:left;}
.jl_timer .tmv{position:absolute;top:0px;left:64px;font-size:14px;line-height:28px;}
.jl_timer .tmv .h{color:#00b9c1;font-weight:bolder;border:0 !important;width:28px;}
.jl_timer .tmv .m{color:#ff931f;border:0 !important;width:28px !important;margin-left:4px !important;}
.jl_timer .tmb{padding:10px 0 10px 0;}

.jl_timer .tmi{display:block;position:relative;margin:0 16px;height:22px;line-height:22px;}
.jl_timer .tmi *{display:inline-block;vertical-align:top;font-weight:normal;}
.jl_timer .hdg{position:absolute;top:5px;right:0;height:11px;width:166px;background:#a9eced;}
.jl_timer .hdg b{position:absolute;width:51px;height:11px;background:#00bec1;}
.jl_timer .mdg{position:absolute;top:5px;right:0;height:11px;width:166px;background:#fff0ce;}
.jl_timer .mdg b{position:absolute;width:48px;height:11px;background:#ffcb55;}

.os_h{letter-spacing:-5px;}
.os_h .o{display:inline-block;vertical-align:top;letter-spacing:0px;}
.os_v{}
.os_v .o{display:block !important;}

.ba>.b{border-left:1px solid #bbbbbb;margin:0!important;border-radius:5px;font-size:1.2em;line-height:20px;padding:2px 14px 2px 11px;color:#666666;cursor:pointer;font-size:12px;}
.ba>.b:first-child{border:0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.ba>.b:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.ba>.b:active{background:#eeeeee;}

.bs{display:inline-block;vertical-align:top;letter-spacing:-0.35em;white-space:nowrap;border:1px solid #bbbbbb;border-radius:5px;margin:0 0.5em;}
.bs>*{float:left;display:inline-block;vertical-align:top;letter-spacing:0px;white-space:nowrap;}
.bs>*>*{white-space:normal;}
.bs>.b{border-left:1px solid #bbbbbb;margin:0!important;font-size:1.2em;line-height:20px;padding:2px 14px 2px 11px;color:#666666;cursor:pointer;font-size:12px;}
.bs>.b:first-child{border:0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.bs>.b:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.bs>.b:active{background:#eeeeee;}
.bs:after{content:"";display:block;clear:both;}


.b{cursor:pointer;display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.b:hover{position:relative;}

.b_a{display:inline-block;*display:inline;*zoom:1;background-color:silver;background-repeat:repeat-x;background-position:left top;cursor:pointer;border:1px solid #999999;}
.b_a:hover{color:black;z-index:10000;background-position:left -88px;}
.b_a:active{background-position:left -44px;color:#666666;text-shadow:1px 1px 1px white;}
.b_a *{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.b_a em{padding:0.4em 1.4em;}

.b_b{border:1px solid #dddddd;color:#666666;background-color:silver;background-repeat:repeat-x;background-position:left top;padding:0 1.1em;}
.b_b:hover{background-position:left -88px;color:black;}
.b_b:active{background-position:left -44px;}

.b_c{border:1px solid #999999;color:#666666;background-color:gray;background-repeat:repeat-x;background-position:left top;padding:0 1.1em;}
.b_c:hover{background-position:left -88px;color:black;}
.b_c:active{background-position:left -44px;}

.b_d{border:1px solid #666666;color:white;background-color:#999999;background-repeat:repeat-x;background-position:left top;padding:0 1.1em;}
.b_d:hover{background-position:left -88px;}
.b_d:active{background-position:left -44px;}

.fs{position:relative;border:1px solid #eeeeee;padding:2.8em 1.6em 2em 1.6em;margin-top:3em;margin-bottom:1em;}
.fs {position:absolute;top:-1.1em;left:0;width:100%;height:2em;}
.fs h3{text-align:center;background:white;display:inline-block;*display:inline;*zoom:1;vertical-align:top;border:1px solid #eeeeee;padding:0 1.6em;margin-left:0.7em;font-size:1.4em;}
.fs {position:absolute;top:-1.1em;left:0.7em;background:white;font-size:1.4em;font-weight:900;line-height:2em;padding:0 0.7em;display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.fs {position:relative;border-top:1px solid #eeeeee;padding:1.1em;}

.fi{padding:1em 0;clear:both;}
.fi:hover{background:#fafafa;}
.fi > *{*zoom:1;text-indent:0;}
.fi >.fd{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}

.p{display:block;padding:0.6em 0;white-space:nowrap;}
.p >*{display:inline-block;vertical-align:top;white-space:normal;}
.p >.t{float:left;display:block !important;white-space:normal;font-weight:normal;width:120px;}
.p >.v{display:block !important;*vertical-align:auto;margin-left:160px;min-height:28px;white-space:normal;white-space:normal;}
.p >b{width:120px;text-align:right;margin-right:20px;}
.p >em{;white-space:normal;}

.fd{display:block;white-space:nowrap;vertical-align:top;}
.fd:after{content:'';display:block;clear:both;}
.fd >.ft{float:left;display:block !important;white-space:normal;font-weight:normal;width:120px;}
.fd >.fb{display:block !important;margin-left:160px;min-height:28px;white-space:normal;white-space:normal;}

.fi > .fd{width:100%;}
.fi_c1 >.fd{width:99%;display:inline-block!important;}
.fi_c2 >.fd{width:49%;display:inline-block!important;}
.fi_c3 >.fd{width:32%;display:inline-block!important;}
.fi_c4 >.fd{width:24%;display:inline-block!important;}
.fi_c5 >.fd{width:19%;display:inline-block!important;}

.img{display:block;width:100%;overflow:hidden;background-repeat: no-repeat;background-position: center center;}
.img img{width:100%;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*------------------------------------------*/

.da{position:relative;z-index:0;}
.da:after{content:'';display:block;height:0;clear:both;}
.da>.as{position:relative;padding:0 !important;margin:0 !important;}
.da>.as>.aw{display:inline-block;vertical-align:top;padding:0 !important;margin:0 !important;width:100%;}
.da>.am{position:relative;padding:0 !important;}
.da>.am>.aw{display:inline-block;vertical-align:top;padding:0 !important;margin:0 !important;width:100%;}
.da>.bg{position:absolute;left:0;top:0;z-index:-1!important;width:100%;height:100%;}
.da>.ag{position:absolute;left:0;top:0;z-index:-1!important;width:100%;height:100%;}

.da_sm{}
.da_sm>.as{float:left;top:0;left:0;right:auto!important;width:280px;}
.da_sm>.am{display:block;margin-left:280px;margin-right:auto!important;}

.da_ms{}
.da_ms>.as{float:right;width:280px;}
.da_ms>.am{margin-right:280px;margin-left:auto!important;}

.da_ssm{}
.da_ssm>.as{float:left;}
.da_ssm>.as_a{float:left;}
.da_ssm>.as_b{float:right;}
.da_ssm>.am{margin-left:400px;}

.da_sms{}
.da_sms>.as{}
.da_sms>.as_a{float:left;}
.da_sms>.as_b{float:right;}
.da_sms>.am{margin:0 200px 0 200px;}

.da_mss{}
.da_mss>.as{float:right;}
.da_mss>.am{margin-right:400px;}

.da_form .fb{line-height:30px;}
.da_form .r{color:red;display:inline-block;vertical-align:top;padding:0 4px;}
.da_form .i{height:30px;width:30px;line-height:30px;}
.da_form input[type=text]{width:320px;height:30px;line-height:30px;padding:0 4px !important;border:1px solid #999999;}
.da_form select{height:30px;line-height:30px;}
.da_form textarea{width:320px;min-height:100px;padding:4px !important;border:1px solid #999999;}

.da_form input[type=button],
.da_form input[type=submit],
.da_form input[type=reset]{height:30px;cursor:pointer;padding:0 17px;border:1px solid #999999;box-shadow: 1px 1px 1px 0px #eeeeee;background-repeat:repeat-x;background-position:left top;}

.da_form input[type=button]:hover,
.da_form input[type=submit]:hover,
.da_form input[type=reset]:hover{background-position:left -44px;}
.da_form .e_fil .val{min-width:240px;}

.da_drawer{position:relative;width:100%;height:100%;overflow:hidden;}
.ab_drawer{position:absolute;top:0;left:0px;top:0;width:100%;height:100%;}
.aba_drawer{position:absolute;left:-100%;top:0;width:160px;height:100%;background:#999999;}
.abb_drawer{position:absolute;left:-100%;top:0;left:0;width:100%;height:100%;background:#999999;}
.abc_drawer{position:absolute;right:-100%;top:0;width:400px;height:100%;background:#999999;}

.da_list{position:relative;z-index:0;}
.ah_list{}
.ab_list{}

.a_filter{padding:1.4em 1.5em;margin-bottom:1em;border:1px solid #eeeeee;}
.a_filter .e_txt input,
.a_filter input[type=text]{width:176px;}
.a_filter .fc .ft{width:70px;}
.a_filter .e_slo{width:186px;}
.a_filter .hr{margin:0.7em 0;}
.a_filter .fi_ctrl{padding-top:1.1em;}
.a_filter .fi_ctrl .el{margin-right:0.4em;}

.a_tab_h{}
.a_tab_h .c_tbs{white-space:nowrap;}
.a_tab_h .c_tbs > .tb{display:inline-block;vertical-align:top;}
.a_tab_h .c_tbs > .tb_on{}
.a_tab_h .c_tbws{}

.a_tab_v{}
.a_tab_v .c_tbs{float:left;width:180px;border:0;border-right:1px solid #eeeeee;}
.a_tab_v .c_tbs > .tb{display:block;border:0;}
.a_tab_v .c_tbs > .tb_on{border:1px solid #dddddd;border-right:0;bottom:0 !important;right:-1px;}
.a_tab_v .c_tbws{margin-left:181px;padding:0;}
.a_tab_v .c_tbws .tbw{padding:0;}
.a_tab_tile .c_tbs{border:0;}
.a_tab_tile .tb{display:block;margin-bottom:10px;border:1px solid #eeeeee;border-radius:5px;}
.a_tab_tile .tb:after{content:'';display:block;height:0;clear:both;}
.a_tab_tile .tb_on{margin:0;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.a_tab_tile .tbw{display:none;border:1px solid #eeeeee;border-radius:5px;}
.a_tab_tile .tbw_on{display:block;margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}

.a_state{border:1px solid #eeeeee;}
.a_state .b_st{display:block;font-size:1.4em;font-weight:600;padding:0.7em 0;padding-left:1.6em;line-height:120%;background-position:0.7em center;background-repeat:no-repeat;}
.a_state .b_st_on{}
.a_state .a_st{margin:0.7em;}

.a_slider{position:relative;height:250px;overflow:hidden;}
.a_slider .sd{display:block;height:250px;overflow:hidden;}
.a_slider .dsc{position:absolute;bottom:0;left:0;z-index:0;width:100%;margin:0;color:white;}
.a_slider .dsc .g{position:absolute;bottom:0;left:0;z-index:-1;width:100%;height:100%;background:black;filter: alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.a_slider .dsc .t{font-size:14px;font-weight:bolder;color:white;margin:0;padding:4px 11px;}
.a_slider .jl_sldmenu{bottom:0px;}
.a_slider .jl_sldmenu .m{background-repeat:no-repeat;background-position:center center;border:0;}
.a_slider .jl_sldmenu .m_on{}
.a_slider .jl_sldmenu .m b{display:none;}

.a_slider_case{position:relative;width:320px;height:250px;overflow:hidden;}
.a_slider_case .sd{position:absolute;left:0;top:0;width:320px;height:250px;overflow:hidden;}
.a_slider_case .dsc{position:absolute;bottom:0;left:0;z-index:0;width:100%;margin:0;padding:1.1em;color:white;font-weight:bolder;}
.a_slider_case .dsc .g{position:absolute;bottom:0;left:0;z-index:-1;width:100%;height:100%;background:black;filter: alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.a_slider_case .dsc .t{font-size:14px;font-weight:bolder;color:white;margin:0;padding:4px 11px;}
.a_slider_case .jl_sldmenu{bottom:0px;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*------------------------------------------*/
.dl_v{}
.dl_v .dl{display:block;}
.dl_v .li{display:block;}
.dl_v .li > a{display:block;}
.dl_v .li > a:hover{}
.dl_v .li_on > a{}

.dl_v > .li_prt > a{background-repeat: no-repeat;background-position: 10px center;}
.dl_v > .li_on.li_prt > a{background-repeat: no-repeat;background-position: 10px center;}

.dl_v .dl{display:block;overflow:hidden;}
.dl_v .li > .dl{display:none;}
.dl_v .li_on > .dl{display:block;}

.dl_h .dl{visibility:hidden;Position:absolute;left:0;top:100%;z-index:0;}
.dl_h .dl_on{display:block !important;visibility:visible;}
.dl_h .li{display:inline-block;vertical-align:top;}
.dl_h .li_on{position:relative;}

.p_ctrl{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
.p_ctrl_on{position:relative;}
.p_ctrl .b_po{height:2.2em;width:2.2em;text-align:center;cursor:pointer;display:inline-block;vertical-align:top;}
.p_ctrl .b_po .i{}
.p_ctrl .b_po_on{}
.p_ctrl .bs_v{position:absolute;right:0;top:100%;z-index:1;background:white;border:1px solid #999999;box-shadow:0px 1px 6px -2px #666666;}
.p_ctrl .bs_v .b{display:block;white-space:nowrap;padding:0.4em 0.8em;color:#444444;line-height:20px;cursor:pointer;}
.p_ctrl .bs_v .b:hover{background:#f1f1f1;color:#222222;}

.jl_menu_v{}

.jl_menu_v .b_unfold:before{font-family:is!important;content: "\e213";}
.jl_menu_v .b_unfold_on{display:none;}
.jl_menu_v .b_fold:before{font-family:is!important;content: "\e212";}
.jl_menu_v .b_fold_on{display:none;}

.jl_menu_v .dl{height:0;overflow:hidden;}
.jl_menu_v .dl_on{height:auto;overflow:auto;}

.jl_menu_v .li >.loading{display:block;width:40px;width:40px;background: url(images/loading2.gif) no-repeat center center;}
.jl_menu_v .li>.b_of{display:none!important;}
.jl_menu_v .li_prt>.t>.b_of{display:block!important;}
.jl_menu_v .li_prt>.t>.b_of:before{font-family:is!important;content:"\e208"; font-size: 16px;}
.jl_menu_v .li_on>.t>.b_of:before{font-family:is!important;content:"\e20b";}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*------------------------------------------*/