html{}
body{min-height:100%;background:#e7e7e7;font-size:12px;}

a{color:#f26533;cursor:pointer;text-decoration: none;}
a:link{}
a:hover{color:#444444;}
a:visited{}
a:active{}

label.e_chk{cursor:pointer;}
label.e_chk>input[type=radio]+i,
label.e_chk>input[type=checkbox]+i{color:#666666;}
label.e_chk>input[type=checkbox]:checked+i,
label.e_chk>input[type=radio]:checked+i{color:#f26533;}

.p_rdos_h .e_chk input:checked+i+b{color:#f26533;}

.e_txt .i{color:#aaaaaa;}
.e_txt .b{color:#f26533;}
.e_tta textarea{resize:none;}

.se {display:inline-block;vertical-align:top;}
img.no-photo{background:#f7f7f7;}
.c_loading{width:100px;height:100px;background:white;}

.lo_main_l{background:#f26533;width:66px;height:100%;position:fixed;left:0;top:0;z-index:9999;}
.lo_main_r{margin-left:66px;}
.lo_main_rh{position:relative;background:white;padding:14px 20px;margin-bottom:4px;}

.c_menus{}
.c_menus a{display:block;color:white;}
.c_menus a>i{display:inline-block;vertical-align:top;width:40px;height:40px;fill:white;margin-top:2px;}
.c_menus a>i svg{width:100%;height:100%;}
.c_menus a>strong{display:inline-block;vertical-align:top;min-width:60px;font-weight:normal;}


.c_menus .dl{display:block;}
.c_menus>.dl>.li>.dl{display:none;position:absolute;left:100%;top:0;background:white;box-shadow:0px 0.2em 1.2em -0.3em #333333;padding:10px;min-height:60px;border-radius:5px;}
.c_menus>.dl>.li>.dl:before{
  position: absolute;top:20px;left:-10px;z-index:100;
  content:"";border: 0;
  border-right-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-style: solid;
  display: block; width:0;height:0;
  border-color:transparent white transparent blue;
}

.c_menus>.dl>.li{display:block;text-align:center;}
.c_menus>.dl>.li>a{display:block;height:70px;}
.c_menus>.dl>.li>a strong{color:#f7a385;}
.c_menus>.dl>.li>a:hover{background:#f58a64;}
.c_menus>.dl>.li>a:hover strong{color:#ffffff;}
.c_menus>.dl>.li:hover{position:relative;}
.c_menus>.dl>.li:hover>.dl{display:inline-block;}

.c_menus>.dl>.li>.dl>.li{display:block;vertical-align:top;text-align:left;min-width:120px;}
.c_menus>.dl>.li>.dl>.li>a:hover{background:#fafafa;}
.c_menus>.dl>.li>.dl>.li a{padding:4px 10px;color:#444444;}
.c_menus>.dl>.li>.dl>.li a>i{display:none;}
.c_menus>.dl>.li>.dl>.li a strong{}

.c_menus>.dl>.li>.dl>.li>.dl{min-width:300px;}
.c_menus>.dl>.li>.dl>.li>.dl>.li{display:inline-block;vertical-align:top;}
.c_menus>.dl>.li>.dl>.li>.dl>.li a{color:#f26533;}

.e{border-radius:5px;}

.c_toolbar{position:relative;z-index:100;background:white;margin-bottom:2px;width:100%;}
.c_toolbar .cw{padding:8px 14px;}
.c_toolbar_fx{position:fixed;top:0;right:0;z-index:9998;box-shadow:0px 0.1em 1em -0.3em #333333;}
.c_toolbar_fx .cw{margin-left:66px;}
.c_toolbar .bs .b{color:#333333;}
.c_toolbar .ba>.b{
	border:1px solid #dddddd;
	background: -moz-linear-gradient(top,#ffffff, #fefefe, #fafafa);
	background: -webkit-linear-gradient(top,#ffffff,#fefefe,#fafafa);
	background: -o-linear-gradient(top,#ffffff, #fefefe, #fafafa);
}
.c_toolbar .filter{background:white;position:absolute;width:100%;left:0;top:100%;z-index:0;min-height:60px;border-top:2px solid #f2f2f2;box-shadow:0px 0.2em 0.6em -0.3em #333333;}
.c_toolbar .filter>.w{padding:20px 30px;}
.c_toolbar .b_filter_on{color:#f26533;}
.c_toolbar .filter .fd{padding:8px;}
.c_toolbar .filter .ft{padding-top:8px;}

.ba>.b{line-height:24px;padding:4px 10px;}
.ba>.b>i{font-size:20px;line-height:24px;}
.ba>.b:active{background:#eeeeee;}

.ba .b_po_on{position:relative;}
.ba .b_po_on .i_st{color:#f26533!important;}

.ba .a_st{position:absolute;left:0;top:100%;min-width:140px;background:white;box-shadow:0px 0.2em 1.2em -0.3em #333333;padding:10px 0;}
.ba .a_st:before{
  position: absolute;top:-10px;left:50%;z-index:100;margin-left:-10px;
  content: "";border: 0;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-style: solid;
  display: block; width:0;height:0;
  border-color:red transparent white transparent;
}
.ba .a_st .b{display:block;padding:8px 14px;border-top:1px solid #eeeeee;}
.ba .a_st .b:hover{background:#fafafa;}
.ba .a_st .b:first-child{border-top:0;}
.ba .a_st .b i{float:left;font-size:16px;}
.ba .a_st .b b{display:block;margin-left:24px;line-height:16px;}

.b>i{font-size:16px;}
.bs{border-color:#dddddd;}
.bs >.t{display:inline-block;vertical-align:top;line-height:26px;padding:0 10px;color:#666666;}
.bs .b>*{display:inline-block;vertical-align:top;line-height:24px;}

.bs>.b{
	border-color:#dddddd;padding:4px 10px;
	background: -moz-linear-gradient(top,#ffffff, #fefefe, #fafafa);
	background: -webkit-linear-gradient(top,#ffffff,#fefefe,#fafafa);
	background: -o-linear-gradient(top,#ffffff, #fefefe, #fafafa);
}

.bs_v{display:block;padding:10px 0;}
.bs_v>.b{display:block;padding:8px 14px;white-space:nowrap;border-top:1px solid #f7f7f7;}
.bs_v>.b:first-child{border:0;}
.bs_v>.b:hover{background:#fafafa;}
.bs_v>.b>i{float:left;font-size:16px;padding:0;}
.bs_v>.b>b{display:block;margin-left:24px;min-width:80px;white-space:normal;line-height:16px;}
.bs_v>.b:after{display:block;clear:both;}



.e_search input{height:30px;}
.e_search .i{height:28px;width:24px;line-height:28px;font-size:16px;}

.c_ttl{}
.c_ttl >*{display:inline-block;vertical-align:top;font-size:21px;font-weight:normal;margin:0;padding:0;line-height:30px;}
.c_ttl h2{}

.c_account{display:inline-block;vertical-align:top;}
.c_account>*{line-height:30px;color:#444444;display:inline-block;vertical-align:top;}
.c_account>.i{height:30px;}
.c_account .i-perm_identity{width:30px;height:30px;line-height:30px;border:1px solid #444444;border-radius:30px;text-align:center;}

.c_account .n{color:#f26533;margin-right:6px;}
.c_account .notify{margin-right:20px;position:relative;}
.c_account .notify_new:before{content:"";
  position: absolute;top:3px;right:2px;margin-left:-10px;
  display:block;width:4px;height:4px;background:red;border-radius:11px;
}
.c_account .notify .i{height:30px;line-height:30px;}

.logo{width:60px;margin:20px auto 30px auto;}

table.c_tbl th{font-weight:normal;font-size:12px;}
table.c_tbl td{font-size:13px;}
table.c_tbl thead>tr>th{background:white;border-bottom:1px solid #eeeeee!important;padding:0.2em 0.7em 0.2em 0.7em ;}
table.c_tbl tbody>tr>td{border:0 !important;text-align:left;padding:1em 0.7em 1em 0.7em;}
table.c_tbl tbody>tr>td:nth-child(even){color:#999999;}
table.c_tbl tbody>tr:nth-child(odd) >td{background:white;}
table.c_tbl tbody>tr:nth-child(even) >td{background:#fbfbfb;}
table.c_tbl tbody>tr:hover >td,
table.c_tbl tbody>tr:hover >th {background:#f3f3f3}
table.c_tbl tbody>tr>td:first-child .e_chk{padding-left:16px!important;padding-right:10px!important;}
table.c_tbl tr.selected>td{background:#ffe7e2!important;}
table.c_tbl th.check{width:60px;}
table.c_tbl th.actions{width:50px;}

.c_copy{position:absolute;left:20px;bottom:0;z-index:0;}
.c_copy .o_st svg{width:40px;height:40px;fill:#ffffff;opacity:0.7;}
.c_copy .a_st{position:absolute;left:100%;bottom:0;background:white;min-width:100px;box-shadow:0px 0.2em 1.2em -0.3em #333333;padding:10px;min-height:60px;border-radius:5px;}
.c_copy .a_st:before{
  position: absolute;bottom:20px;left:-10px;z-index:100;
  content:"";border: 0;
  border-right-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-style: solid;
  display: block; width:0;height:0;
  border-color:transparent white transparent blue;
}
.c_submenu{}
.c_submenu>.dl{display:block;padding:14px;}
.c_submenu>.dl>.li{display:block;color:black;padding:6px 10px;}
.c_submenu>.dl>.li>a{color:black;font-size:14px;}

.c_submenu>.dl>.li>.dl{display:inline-block;vertical-align:top;min-width:200px;}
.c_submenu>.dl>.li>.dl>.li{display:inline-block;vertical-align:top;}
.c_submenu>.dl>.li>.dl>.li>a{white-space:nowrap;line-height:24px;}
.c_submenu>.dl>.li>.dl>.li>a>strong{font-weight:normal;}

.c_pages{padding:14px;white-space:nowrap;}
.c_pages a{display:inline-block;vertical-align:top;text-align:center;margin:0 10px;height:30px;line-height:30px;letter-spacing:0;}
.c_pages a.on{color:#444444;}
.c_pages>*{display:inline-block;vertical-align:top;text-align:center;cursor:pointer;margin:0 10px;height:30px;line-height:30px;letter-spacing:0;}


.c_toolbar .bs .b_new{color:#50ba27 !important;}
.c_toolbar .bs .b_edit{color:#2885bd !important;}
.c_toolbar .bs .b_delete{color:#f24033 !important;}
.c_toolbar .bs .b_dis{color:#cccccc !important;background:#fafafa;}
.c_toolbar .b_chkall{display:inline-block;vertical-align:top;padding: 4px 14px 2px 4px!important;line-height:24px;margin-right:20px;}
.c_toolbar .b_chkall i{height:24px;margin-right:4px;}
.c_filters{display:inline-block;vertical-align:top;margin:0 20px;}
.c_filters .ct{border-left:1px solid #eeeeee;padding:0 30px 0 10px;color:#aaaaaa;}
.c_filters>.t{margin-right:6px;}
.c_filters>*{display:inline-block;vertical-align:top;line-height:30px;}

.p_ucd{width:260px;padding:20px;}
.p_ucd:after{content:'';display:block;clear:both;}
.p_ucd .avatar{display:block;width:60px;height:60px;float:left;overflow:hidden;text-align:center;border-radius:30px;background:#f2f2f2;}
.p_ucd .avatar i{height:60px;line-height:60px;}
.p_ucd .inf{margin-left:80px;line-height:18px;}


.a_form{padding:40px 20px ;background:white;}
.a_form div.fd{padding:10px 20px;}
.a_form div.fd:hover{background:#fafafa;}
.a_form .e_txt{min-width:300px;}
.a_form .e_txt input{width:100%;}
.a_form .e_tta{min-width:300px;}

.a_form .f_control{position:fixed;width:100%;height:60px;left:0;bottom:0;z-index:0;text-align:right;background:#e7e7e7;border-top:1px solid #e6e6e6;}
.a_form .f_control .fw{padding:10px 20px 30px 20px;}
.a_form .f_control .e_btn{background:#f26533;color:white;font-weight:bolder;border:0;margin-left:10px;}

.a_form .fds{padding-bottom:20px;border-bottom:1px solid #eeeeee;margin-bottom:20px;}

.a_form .c_tbs_a{position:fixed;top:0;left:0;width:100%;background: #e7e7e7;}
.a_form .c_tbs_a .tb{font-size:18px;height:30px;line-height:30px;display:inline-block;vertical-align:top;padding:0 20px;padding-top:10px;}
.a_form .c_tbs_a .tb:first-child{margin-left:10px;}
.a_form .c_tbs_a .tb_on{background:none;border-bottom:4px solid #f26533;color:#f26533;}
.a_form .c_tbws_a{padding-top:30px;}

.jl_popup_h{border-bottom: 4px solid #e7e7e7;font-weight:normal;}
.jl_popup_b{background:#e7e7e7;}

.jl_footer{display:block;left:0;bottom:0;z-index:0;text-align:right;background:#f2f2f2;border-top:1px solid #e6e6e6;}
.jl_footer .fw{padding:10px 20px 20px 20px;}
.jl_footer .e_btn{background:#f26533;color:white;font-weight:bolder;border:0;margin-left:10px;}

.p_rdos_v{display:inline-block;vertical-align:top;}
.p_rdos_v .e_chk{display:inline-block;vertical-align:top;margin-right:14px;}

.p_chbs{display:inline-block;vertical-align:top;}
.e_chbs .e_chk{}

.p_ctrl .b_po_on{color:#f26533;}

.jl_tips_c{padding:10px;color:white;}
.jl_tips_bg{background:black;opacity:0.6;box-shadow: 0px 0px 6px -2px #333333;border-radius:10px;}

.b_tip{cursor:pointer;}
.b_po{cursor:pointer;}

.e_imgs{}
.e_imgs img{width:140px;margin-right:10px;margin-bottom:10px;border-radius:5px;}


.p_tree { padding: 14px; }
.p_tree .dl{}
.p_tree .li { display: block; }

.p_tree .t {position:relative;padding:6px 10px;padding-left:16px;letter-spacing: 0;}
.p_tree .t:hover{background:#fcfcfc;}
.p_tree .t a{float:left;}
.p_tree .t:after{content:'';display:block;height:0;clear:both;}
.p_tree .t .i {position:absolute;left:0;top:0;z-index:0;height:100%;font-size:16px;line-height:32px;width:24px;}

.p_tree>.dl{}
.p_tree>.dl>.li { display: block; background: white; margin-bottom: 1px; }
.p_tree>.dl>.li>.t { font-size: 15px; background: #fafafa;padding: 6px 10px;padding-left:20px;}
.p_tree>.dl>.li>.t a { color: #444444; }
.p_tree>.dl>.li>.t .i { float: right; }

.p_tree .dl .dl .dl{padding-left:20px;}
.p_tree>.dl>.li_on>.t{background:#fef6f2;}



.p_tile { padding: 14px; }
.p_tile .dl {}
.p_tile .li { display: block; }
.p_tile .li_prt>.t>.b_of:before{font-family:is!important;content:"\e20b"; font-size: 16px;}
.p_tile .li_on>.t>.b_of:before{font-family:is!important;content:"\e20a";}

.p_tile .t { letter-spacing: 0; }
.p_tile .t a{float:left;}
.p_tile .t:after{content:'';display:block;height:0;clear:both;}

.p_tile>.dl{}
.p_tile>.dl>.li { display: block; background: white; margin-bottom: 1px; }
.p_tile>.dl>.li>.t { font-size: 15px; background: #fafafa; padding: 6px 10px; }
.p_tile>.dl>.li>.t a { color: #444444; }
.p_tile>.dl>.li>.t .i { float: right; }

.p_tile>.dl>.li>.dl {padding:0 10px;background: white;letter-spacing: -0.33em; }
.p_tile>.dl>.li>.dl:after { content: ""; display: block; clear: both; }
.p_tile>.dl>.li>.dl>.li { float: left; display: inline-block; vertical-align: top; width: 20%; }
.p_tile>.dl>.li>.dl>.li:hover>.t { background: #fdece6; }

.p_tile>.dl>.li>.dl>.li>.t { padding: 6px; font-size: 14px; font-weight: bolder; }
.p_tile>.dl>.li>.dl>.li>.t a { color: #f26533; }
.p_tile>.dl>.li>.dl>.li>.t .i { display: none; }

.p_tile>.dl>.li>.dl>.li>.dl {padding:0 10px;height:auto!important;}
.p_tile>.dl>.li>.dl>.li>.dl>.li { display: inline-block; vertical-align: top; width: 160px;}
.p_tile>.dl>.li>.dl>.li>.dl>.li:hover{background:#fafafa;}
.p_tile>.dl>.li>.dl>.li>.dl>.li>.t { font-size: 12px;line-height:20px;}
.p_tile>.dl>.li>.dl>.li>.dl>.li>.t a { color: #f58a64; }
.p_tile>.dl>.li>.dl>.li>.dl>.li>.t .i { display: none; }

.lo_def{}
.lo_def:after{content:'';display:block;clear:both;}
.lo_def_l{width:300px;min-height:400px;float:left;background:white;}
.lo_def_r{margin-left:300px;background:white;}

.l_ntf{width:200px;}
.li_ntf{display:block;padding:10px 20px 10px 14px;border-top:1px solid #eeeeee;cursor:default;}
.li_ntf:hover{background:#f7f7f7;}
.li_ntf:first-child{border:0;}
.li_ntf>.i{float:left;}
.li_ntf>.c{display:block;margin-left:30px;line-height:16px;}
.li_ntf>.c .d{display:block;color:#bbbbbb;font-family:arial;font-size:10px;margin-top:4px;}
.li_ntf:after{content:'';display:block;clear:both;}

.c_loginf{min-width:140px;}
.c_loginf a{display:block;padding:20px 10px;}

/*Jui*/

.ui-dialog .ui-dialog-titlebar-close:before {font-family:is;content: "\e390";font-size:24px;}
.ui-datepicker .ui-datepicker-next:before {font-family:is;content:"\e111";font-size:24px;color:#444444;}
.ui-datepicker .ui-datepicker-next span{overflow:hidden;text-indent:-1000px;}
.ui-datepicker .ui-datepicker-prev:before {font-family:is;content: "\e110";font-size:24px;color:#444444;}
.ui-datepicker .ui-datepicker-prev span{overflow:hidden;text-indent:-1000px;}

.p_tags{}
.p_tags>*{display:inline-block;vertical-align:top;}
.p_tags .tag{background: #f26533;border-radius:20px;color:white;padding:2px 10px 2px 10px;line-height:16px;margin:0 6px 10px 0;}
.p_tags .tag .i{font-size:16px;}

.da>.as{width:279px;}
.da_sm{background:white;}
.da_sm>.as{}
.da_sm>.as .asw{padding:20px;}
.da_sm>.am{background:white;}

.jl_scroller{height:100%;}
.jl_yscrollbar{border:0;}
.jl_yscrollbar .handle{background:#cccccc;border-radius:5px;}
.jl_yscrollbar .handle b{width:16px;left:-5px;height:100%;background: url(../jLayout/images/_blank.gif);}

.da_sm_a{}
.da_sm_a>.as{height:100%;width:380px;}
.da_sm_a>.as .ash{position:absolute;left:0;top:0;z-index:1;width:100%;padding:14px 0 14px 0 ;border-bottom:1px solid #eeeeee;}
.da_sm_a>.as .ash:after{content:'';display:block;height:0;clear:both;}
.da_sm_a>.as .ash .sr{margin-right:40px;}
.da_sm_a>.as_bg{background:white;width:379px;border-right:1px solid #e7e7e7;}
.da_sm_a>.as .asw{padding:20px;padding-top:70px;}
.da_sm_a>.am{margin-left:380px;height:100%;overflow:auto;}

.da_sm_e{background:none;z-index:0;overflow:hidden;}
.da_sm_e:before{content:'';display:block;position:absolute;left:0;top:0;z-index:-1;height:100%;width:379px;background:white;border-right:1px solid #aaaaaa;}
.da_sm_e>.as{width:378px;height:100%;}
.da_sm_e>.as .ash{position:absolute;left:0;top:0;z-index:1;width:100%;padding:14px 0 14px 0 ;background:white;border-bottom:1px solid #eeeeee;}
.da_sm_e>.as .ash:after{content:'';display:block;height:0;clear:both;}
.da_sm_e>.as .ash .sr{margin-right:40px;}
.da_sm_e>.as .aw{height:100%;}
.da_sm_e>.am{margin-left:380px;height:100%;overflow:auto;background:none;}
.da_sm_e .aw>.t{height:24px;line-height:24px;background:#eeeeee;padding:0 10px;border-bottom:1px solid #aaaaaa;color:#555555;}
.a_tab_tile .tb{padding:6px;}
.a_tab_tile .tbw{padding:10px;}

.l_doors{}
.l_doors .li{display:block;border-top:1px solid #eeeeee;line-height:20px;padding:6px;}
.l_doors .li:first-child{border:0;}
.l_doors .li:after{content:'';display:block;height:0;clear:both;}
.l_doors .li .b{display:none;float:right;}
.l_doors .li .b i{font-size:16px;width:24px;height:20px;}
.l_doors .li .b i:hover{color:#f26533;}
.l_doors .li .b b{display:none;}
.l_doors .li strong{font-weight:normal;}
.l_doors .li_on strong{font-weight:bolder;color:#f26533;}
.l_doors .li:hover .b{display:block;}
.l_doors .li:hover{background:#fdece6;}

.l_zds{padding:20px;}
.l_zds .li{display:inline-block;vertical-align:top;border:1px solid #eeeeee;line-height:20px;padding:6px 11px;cursor:default;}
.l_zds .li:after{content:'';display:block;height:0;clear:both;}
.l_zds .li .b{display:none;float:right;}
.l_zds .li .b i{font-size:16px;width:24px;height:20px;}
.l_zds .li .b i:hover{color:#f26533;}
.l_zds .li .b b{display:none;}
.l_zds .li .b_delete{margin-left:20px;}
.l_zds .li strong{font-weight:normal;display:inline-block;vertical-align:top;}
.l_zds .li_on strong{font-weight:bolder;color:#f26533;}
.l_zds .li:hover .b{display:block;}
.l_zds .li:hover{background:#fdece6;}
.l_zds .li_on{color:#f26533;border:1px solid #f26533;}

.l_rooms{padding:20px;}
.l_rooms .li{display:inline-block;vertical-align:top;border:1px solid #eeeeee;line-height:20px;padding:6px 11px;cursor:default;}
.l_rooms .li:after{content:'';display:block;height:0;clear:both;}
.l_rooms .li .b{display:none;float:right;}
.l_rooms .li .b i{font-size:16px;width:24px;height:20px;}
.l_rooms .li .b i:hover{color:#f26533;}
.l_rooms .li .b b{display:none;}
.l_rooms .li .b_delete{margin-left:20px;}
.l_rooms .li strong{font-weight:normal;display:inline-block;vertical-align:top;}
.l_rooms .li_on strong{font-weight:bolder;color:#f26533;}
.l_rooms .li:hover .b{display:block;}
.l_rooms .li:hover{background:#fdece6;}
.l_rooms .li_on{color:#f26533;border:1px solid #f26533;}



.a_weihe_f {padding:20px;}
.a_weihe_f .map{height:600px;background:#f2f2f2;}
.a_weihe_f .doors{padding:0;}
.a_weihe_f .doors .as{border-right:1px solid #eeeeee;width:278px;}
.a_weihe_f .floors{background:#fafafa;}
.a_weihe_f .floors .tbw{background:white;}
.a_weihe_f .floors .tb h4{font-weight:normal;}

.a_error{text-align:center;padding:100px 0 0 0;}
.a_error svg{width:120px;fill:#aaaaaa;}
.a_error .txt{font-size:16px;color:#999999;text-align:center;text-indent:20px;margin-top:10px;width: 300px;margin: 0 auto;}

.p_chbs_a{display:inline-block;vertical-align:top;margin-bottom:30px;}
.p_chbs_a .e_chk:first-child{display:block!important;border-bottom:1px solid #eeeeee;}
.p_chbs_a .e_chk:first-child b{font-weight:bolder;}
.p_chbs_a .e_chk:hover {background:#ffe7e2;}
.p_chbs_a .e_chk{padding:2px 0 !important;min-width:160px;margin-bottom:10px;}
.l_usa{}
.l_usa .li{border-bottom:1px solid #eeeeee;padding:10px 20px;position:relative;}
.l_usa .li strong{display:block;font-weight:bold;font-size:16px;padding-bottom:2px;}
.l_usa .li .pp{color:#cccccc;}
.l_usa .li .pp *{display:inline-block;vertical-align:top;}
.l_usa .li .pp em{margin-right:30px;}
.l_usa .li:before {content: "\e208";font-family:'is'!important;font-size:16px;color:#cccccc;position:absolute;right:20px;top:20px;}
.l_usa .li:hover{background:#f3f3f3;}
.l_usa .li:hover .pp{color:#666666;}
.l_usa .li_on{color:white;background:#ffa793 !important;}
.l_usa .li_on .pp{color:white!important;opacity:0.7;}
.l_usa .li_on:before{color:white;opacity:0.7;}
.l_usa .li .e_chk{position:absolute;left:10px;top:11px;z-index:0;}
.td_ctrl{width:40px;}


.table_head table.c_tbl thead > tr > th {background:none;border:0!important;padding:4px 10px;}
.table_body table.c_tbl tbody > tr > td {padding:4px 10px;}

.a_resoures {}
.a_resoures>.ah{padding:10px 0;}
.a_resoures .c_tbl .c3 {width:40px;}

.p_search .i{font-size:16px;width:30px;height:30px;line-height:30px;}
